@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --color1: hsl(337, 100%, 23%); /* primary */
  --color2: hsl(337, 75%, 85%); /* border */
  --errorColor: rgb(187, 7, 7); /* error */
}
