@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --color1: #77002e; /* primary */
  --color2: #fbe0ea; /* border */
  --errorColor: rgb(187, 7, 7); /* error */
}
